@import url(./styles.css);

.donate-banner {
  position: relative;
  border-bottom: solid 1px black;
  margin-bottom: 6rem;
}

.donate-banner h1 {
  position: absolute;
  /* HOW DO YOU LIKE THEM APPLES */
  top: calc(50% - var(--fs-h1) / 2);
  right: calc(50% - var(--fs-h1) - 3ch);
  /* DRY me */
  text-shadow: 1px 1px 1px black;
}

.donate-button {
  margin: 3rem 0;
  text-align: center;
}

/* img reset for donation page, 100% is for mobile responsiveness */
#donate img:not(#donate-banner) {
  width: 100%;
  max-width: 400px;
}

#donate > * {
  margin-bottom: 6rem;
}

.donate {
  box-shadow: none;
  padding: 0.5rem 9rem;
}
