@import url("./reset.css");
@import url("./navbar.css");
@import url("./footer.css");
@import url("./sidebar.css");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap");

:root {
  --content-max-width: 170ch;

  /* colors */
  --color-bg: #21243f;
  --bg-gradient: linear-gradient(
    45deg,
    #22243f,
    #22345c,
    #324070,
    #424d8b,
    #5261af,
    #6273ce
  );
  --color-main2: #4496fa; 
  --color-main: #8ecafd; 
  --color-secondary: #1e569b;
  --text-secondary: #959595;

  --gradient: linear-gradient(
    45deg,
    #845ec2,
    #d65db1,
    #ff6f91,
    #ff9671,
    #ffc75f,
    #f9f871
  );

  /* nav, footer, buttons */
  --main-gradient: linear-gradient(
    45deg,
    #0e4180,
    #004ead,
    #005ed1,
    #006aec,
    #1f84ff,
    #509fff
  );

  /* font weights */
  --fw-regular: 400;
  --fw-medium: 500;
  --fw-bold: 700;
  --fw-black: 900;

  /* font sizes */
  --fs-h1: clamp(2.25rem, 3vw + 1rem, 6rem);
  --fs-h2: clamp(1.5rem, 2vw + 1rem, 3rem);
  --fs-p: 1.25rem;
}

/* @media (max-width: 40em) {
    :root {
        --fs-h1: 2.25rem
    }
} */

body {
  /* svg from svgbackgrounds.com */
  background-image: url(/assets/images/scales2.svg);
  background-position: left;
  font-family: "Roboto", sans-serif;
  color: #fff;
/*   animation-name: bg;
  animation-duration: 120s;
  animation-iteration-count: 1;
  animation-timing-function: linear; */
}

/* Stops the animated background from running on smaller devices */
/* @media (min-width: 1000px) {
  @keyframes bg {
    50% {
      background-position: right;
    }
    100% {
      background-position: left;
    }
  }
} */

/* Makes sure the background isn't repeating and cutting off */
@media (max-width: 665px) {
  body {
    background-repeat: no-repeat;
    background-size: cover;
  }
}

main {
  max-width: 1920px;
  margin: auto; /* Keeps everything centered at larger screens */
}

h1 {
  font-size: var(--fs-h1);
}

h2 {
  font-size: var(--fs-h2);
}

p {
  font-size: var(--fs-p);
}

span {
  font-size: 1.125rem;
}

/* Wrapper */
.container {
  max-width: var(--content-max-width);
  margin: auto;
  padding: 0 2rem;
}

.rounded {
  border-radius: 50%;
  aspect-ratio: 1;
}

.border {
  border: solid 1px white;
}

.header-color {
  color: var(--color-main);
  text-shadow: 1px 1px 1px rgb(0, 0, 0);
}

.text-center {
  text-align: center;
  text-wrap: balance;
  width: 100%;
}

.grid {
  margin-top: 3rem;
  display: grid;
  justify-items: center;
  gap: 1rem;
}

.centered {
  align-items: center;
}

.book-button {
  border: solid 1px var(--color-main);
  -webkit-box-shadow: 5px 5px 7px -1px #000000;
  box-shadow: 5px 5px 7px -1px #000000;
  cursor: pointer;
  padding: 0.5rem 4rem;
  /* Rocket from www.freepik.com */
  background-image: url(/assets/images/rocket.jpg);
  background-size: 300%;
  background-position: left;
  border-radius: 6px;
  font-size: var(--fs-p);
  font-weight: var(--fw-regular);
  color: #fff;
}

.book-button a {
  margin: 0.5rem 4rem;
}

.book-button:hover {
  background-position: right;
  transition: 2s ease-out;
}

.kidsbox {
  position: relative;
}

/* Spins the box containing the rocket */
.rocket-box {
  display: none;
  position: absolute;
  height: calc(100% + 20ch);
  /* left = half the box - half the rocket */
  left: calc(50% - 52.5px);
  /* Even out the +height between top and bot of image */
  top: -10ch;
  animation-name: rocket;
  animation-duration: 10s;
  animation-timing-function: linear;
  animation-delay: 1000ms;
  animation-iteration-count: infinite;
  user-select: none;
}

/* Remove the rocket/keyframe at smaller screens to avoid x-overflow */
@media (min-width: 810px) {
  @keyframes rocket {
    100% {transform: rotate(360deg);}
  
  }
  .rocket-box {
    display: block;
  }

}

.rocket-man {
  transform: rotate(180deg);
}

/* lets the rocket pass behind text / above banner */
.z-1 {
  z-index: 1;
}

/* Blurs the rocket behind the text */
.bg-blur {
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
}


/* .home-banner img {
    opacity: 50%;
    filter: blur(4px);
}

.home-banner h1 {
    position: absolute;
    background-image: var(--gradient);
    background-size: 300%;
    background-position: left;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    font-size: 6rem;
    animation-name: home-header;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    user-select: none;
    
}

@keyframes home-header {
    25% {background-position: center;}
    50% {background-position: right;}
    75% {background-position: center;}

} */

.banner-cta {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  text-align: center;
  gap: 1.5rem;
  color: #fff;
  background-image: linear-gradient(180deg, #005ed1, transparent);
}

.banner-cta .time {
  color: rgb(202, 202, 202);
}

@media screen and (min-width: 810px) {
  /* Forces the img+txt combos to stay together for ipad & above */
  .grid {
    grid-template-columns: 1fr 1fr;
  }

  /* swaps the row-order of the section-content at smaller screens */
  .reverse {
    order: 1;
  }
}


/* EXPLORE */

/* Allows the Trex to stand on the CTA-banner, but not the text. Which is why it is not included in .grid */
.explore-text,
#kids,
#teachers {
  margin-bottom: 3rem;
}

.explore-text > * {
  text-wrap: balance;
  line-height: 1.4;
  padding: 0.25rem 0;
}

/* CTA BANNNER */

.lunar-bg {
  background-color: black;
  padding: 3rem 0;
  text-align: center;
}

.lunar-bg img {
  margin: 5rem 0;
  filter: contrast(1.1);
}


/* NEWS */

#news {
  margin: 10rem 0;
}

.news-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 1.2rem;
  justify-content: center;
}

.news-item {
  position: relative;
  max-width: 350px;
  padding: 1.5rem;
  background-color: var(--color-secondary);
  border: solid 1px black;
  line-height: 1.35;
}

.news-item img {
  border: solid 1px var(--color-main);
}

.news-item:hover {
  border-color: var(--color-main);
  transition: 0.2s;
}

.news-item > *:not(img) {
  padding: 0.5rem 0;
}

.news-item h3 {
  text-decoration: underline;
  text-underline-offset: 3px;
}

/* Keeps the News header in place over the first card */
.news-item h2 {
  position: absolute;
  top: -4rem;
  left: -0.2rem;
}


