@import url("./reset.css");
@import url("./navbar.css");
@import url("./footer.css");
@import url("./sidebar.css");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap");

/* Wrapper */
.container {
max-width: var(--content-max-width);
margin: auto;
padding: 0 2rem;
}

:root {
  --content-max-width: 170ch;

  /* colors */
  --color-bg: #21243f;
  --bg-gradient: linear-gradient(
    45deg,
    #22243f,
    #22345c,
    #324070,
    #424d8b,
    #5261af,
    #6273ce
  );
  --color-main: #4496fa; /* Most h1/h2 and buttons */
  --color-main-hover: #8ecafd; /* hover-state buttons and/or borders */
  --color-secondary: #192e5a; /* BG for cards */
  --text-secondary: #959595;

  --gradient: linear-gradient(
    45deg,
    #845ec2,
    #d65db1,
    #ff6f91,
    #ff9671,
    #ffc75f,
    #f9f871
  );

  /* nav, footer, buttons */
  --main-gradient: linear-gradient(
    45deg,
    #0e4180,
    #004ead,
    #005ed1,
    #006aec,
    #1f84ff,
    #509fff
  );

  /* font weights */
  --fw-regular: 400;
  --fw-medium: 500;
  --fw-bold: 700;
  --fw-black: 900;

  /* font sizes */
  --fs-h1: clamp(2.25rem, 3vw + 1rem, 6rem);
  --fs-h2: clamp(1.5rem, 2vw + 1rem, 3rem);
  --fs-p: 1.125rem;
}

/* @media (max-width: 40em) {
    :root {
        --fs-h1: 2.25rem
    }
} */

body {
  background-image: var(--bg-gradient);
  font-family: "Roboto", sans-serif;
  color: #fff;
}

main {
  max-width: 1920px;
  margin: auto; /* Keeps everything centered at larger screens */
}

h1 {
  font-size: var(--fs-h1);
}

h2 {
  font-size: var(--fs-h2);
}

p {
  font-size: var(--fs-p);
}

span {
  font-size: 1.125rem;
}

img .rounded {
  border-radius: 50%;
  aspect-ratio: 1;
}

.border {
  border: solid 1px white;
}

/* .home-banner img {
    opacity: 50%;
    filter: blur(4px);
}

.home-banner h1 {
    position: absolute;
    background-image: var(--gradient);
    background-size: 300%;
    background-position: left;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    font-size: 6rem;
    animation-name: home-header;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    user-select: none;
    
}

@keyframes home-header {
    25% {background-position: center;}
    50% {background-position: right;}
    75% {background-position: center;}

} */


.banner-cta {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 6px;
    padding: 2rem;
    margin: 1rem;
    border: solid;
    text-align: center;
    gap: 1.5rem;
    background-color: #fff;
    color: black;
}

.book-button {
border: solid 1px var(--color-main-hover);
-webkit-box-shadow: 5px 5px 7px -1px #000000; 
box-shadow: 5px 5px 7px -1px #000000;
cursor: pointer;
padding: 1rem 4rem;
/* Rocket from www.freepik.com */
background-image: url(/assets/images/rocket.jpg);
background-size: 300%;
background-position: left;
border-radius: 6px;
font-size: var(--fs-h2);
font-weight: var(--fw-bold);
color: #fff;
}

.book-button:hover {
    background-position: right;
    transition: 2s ease-in-out;
}


.explore {
    margin-top: 3rem;
  display: grid;
  justify-items: center;
  gap: 1rem;

}


@media screen and (min-width: 810px) {
    .explore {
        grid-template-columns: 1fr 1fr;
    }
}

.explore-text > * {
    text-wrap: balance;
    line-height: 1.4;
    padding: 0.25rem 0;
}

#explore-title {
    text-wrap: nowrap;
}



