footer {
  background-image: var(--main-gradient);
  max-width: 100%;
  padding: 1.5rem 1rem;
  border-top: solid 1px black;
}

footer .footer-content {
  display: grid;
  max-width: var(--content-max-width);
  margin: auto;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1rem;
  row-gap: 3rem;
}

.footer-item {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

@media (max-width: 647px) {
  /* Avoid displacing footer-logo */
  .footer-item {
    align-items: center;

  }

}

.footer-item .easter-egg,
.footer-links, table > * {
  font-size: var(--fs-p);
  line-height: 1.5;
  text-wrap: balance;
}

.footer-logo {
  display: flex;
  gap: 0.5rem;
  font-weight: var(--fw-medium);
}


/* column spacing for table */

/* Don't use ID again if it's not going to be unique */
#footer-table th:nth-child(1),
#footer-table td:nth-child(1) {
  padding-right: 3rem;
}

.times-table th:nth-child(1),
.times-table td:nth-child(1) {
  padding-right: 3rem;
}


.opening-hours tr th {
  text-align: start;
}

.easter-egg a {
  text-decoration: underline;
  text-underline-offset: 0.125rem;
}
