/* HIDDEN TOGGLE */
.menu-toggle {
  display: none;
  z-index: 51;
}

/* ---------------------------- */

/* SLIDE-IN TRANSITION */
/* .menu-icon + .sidebar {
  transition: 0.3s;
} */
/* ------------------------- */

/* ON CLICK - SET WIDTH */
@media only screen and (min-width: 450px) {
  .menu-toggle:checked + .menu-icon + .sidebar {
    width: 15.5rem;
  }

  .menu-toggle:checked + .menu-icon {
    position: fixed;
    }

    
}
@media only screen and (max-width: 450px) {
  .menu-toggle:checked + .menu-icon + .sidebar {
    width: 100%;
  }
  .menu-toggle:checked + .menu-icon {
  position: fixed;
  }
  
 
}
/* ------------------------------ */

/* HIDE HAMBURGER @ LG */
@media only screen and (min-width: 1201px) {
  .menu-icon {
    display: none;
    visibility: hidden;
  }
}
/* ---------------------------- */

/* HAMBURGER */
.menu-icon {
  font-size: 2.5rem;
  cursor: pointer;
  text-align: center;
  position: absolute;
  margin: 20px;
  /* Just remove this if sidebar will not be fullscreen */
  z-index: 51;
  top: 0.5rem;
  right: 1rem;
}
/* ----------------------------- */
@media (min-width: 1201px) {
  .sidebar {
    display: none;
    visibility: hidden;
  }
}
/* SIDENAV */
.sidebar {
  width: 0;
  height: 100vh; /* Fallback if svh is not supported, change to % if any issues occure */
  height: 100svh; 
  position: fixed;
  top: calc(7rem + 1px);
  right: 0;
  background-image: var(--main-gradient);
  overflow-x: hidden;
  transition: 0.3s;
  z-index: 50;
}


.sidebar ul li {
  padding: 8px;
  text-align: center;
  margin: 2rem 0rem;
}

.sidebar ul li a {
  font-weight: bold;
  font-size: large;
}

/* HIDE ABOVE SM */
@media only screen and (min-width: 600px) {
  .sidebar-searchfield {
    display: none;
    visibility: hidden;
  }
}